/*
 * Color Seeds
 *
 * These base tokens seed the color palettes. For best results, use a midtone
 * color such as any of the 500-level colors from https://color.surf/
 *
 * Avoid using seed colors directly in stylesheets.
 */

:root,
.sigvelo-light,
.sigvelo-dark,
[data-theme="light"],
[data-theme="dark"] {
  --sigvelo-primary-seed: #4a97f4;
  --sigvelo-neutral-seed: #8b8c93;
  --sigvelo-success-seed: #5dbb55;
  --sigvelo-warning-seed: #e89a26;
  --sigvelo-destructive-seed: #ef5655;
}
